.search {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  box-shadow: 0px 0px 15px inset rgb(111, 110, 110);
  border: none;
  font-size: 24px;
  margin-top: 30px;
  padding: 30px;
  width: 360px;
}