@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');


.titulo {
  color: rgb(54, 54, 105);
  font-family: 'Damion', cursive;
  font-size: 56px;
  font-weight: bold;
}

.loading {
  border: 6px solid rgb(234, 225, 225);
  border-top: 6px solid rgb(24, 8, 73);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 30px auto;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  100% { rotate: 360deg }
  
}
.lista {
  margin: 100px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  
}
.lista__foto img{
  border-radius: 20px;
  height: 300px;
  width: 300px;
  transition: transform .5s ease-in-out;
}
.lista__foto:hover img{
  box-shadow: 1px 2px 15px white;
  transform: scale(1.1);
}
@media (max-width: 830px) {
  .lista {
    margin: 20px;
    justify-content: center;
  }
}