@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');


.titulo {
  color: rgb(54, 54, 105);
  font-family: 'Damion', cursive;
  font-size: 56px;
  font-weight: bold;
}

.loading {
  border: 6px solid rgb(234, 225, 225);
  border-top: 6px solid rgb(24, 8, 73);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 30px auto;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  100% { rotate: 360deg }
  
}
