.lista {
  margin: 100px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  
}
.lista__foto img{
  border-radius: 20px;
  height: 300px;
  width: 300px;
  transition: transform .5s ease-in-out;
}
.lista__foto:hover img{
  box-shadow: 1px 2px 15px white;
  transform: scale(1.1);
}
@media (max-width: 830px) {
  .lista {
    margin: 20px;
    justify-content: center;
  }
}